<div class="container">
    <div class="content">
        <header>
            <h1>F1nal Lap</h1>
            <img src="https://www.formula1.com/etc/designs/fom-website/images/f1_logo.svg" alt="Fórmula 1 Logo">
        </header>

        <div id="progress-container">

            <nav>
                <a href="home">Inicio</a>
                <a href="temp-actual">Temporada Actual</a>
                <a href="last-temps">Últimas Temporadas</a>
                <a href="memorable-temps">Temporadas Memorables</a>
                <a href="sim">Simulador</a>
            </nav>

            <div id="progress-bar"></div>
        </div>

        <div class="contenedor-section">
            <section id="2012">
                <h2>2012: La Batalla Épica por el Título</h2>

                <p>La temporada de 2012 fue una obra maestra de la emoción, donde el asfalto se convirtió en un
                    campo de
                    batalla y el rugido de los motores resonó como un canto de guerra. Sebastian Vettel y Fernando
                    Alonso, dos titanes del automovilismo, se enfrentaron en una lucha que trascendió lo deportivo.
                    Cada
                    carrera era un capítulo de una historia llena de suspenso, donde la esperanza y la desesperación
                    bailaban al ritmo de cada vuelta.</p>

                <p>Vettel, con su Red Bull, se convirtió en un guerrero de la velocidad, desafiando las leyes de la
                    física y la lógica, mientras Alonso, el caballero de Ferrari, transformaba cada carrera en una
                    epopeya de valentía y determinación. El momento culminante llegó en Brasil, donde el corazón de
                    millones latía al unísono, mientras Vettel luchaba contra el destino, y la emoción se desbordaba
                    en
                    cada curva. ¡Una temporada que nos hizo sentir vivos, que nos hizo recordar por qué amamos este
                    deporte con tanta pasión!</p>
            </section>


            <section id="2005">
                <h2>2005: El Ascenso de Fernando Alonso</h2>

                <p>En 2005, la Fórmula 1 fue testigo del nacimiento de una leyenda que cambiaría el curso de la
                    historia. Fernando Alonso, con su Renault, no solo se convirtió en el campeón más joven, sino
                    que su
                    viaje fue un canto a la perseverancia y la grandeza. Cada carrera era un testimonio de su
                    talento y
                    su espíritu indomable, un recordatorio de que los sueños pueden hacerse realidad si se persiguen
                    con
                    fervor.</p>

                <p>El Gran Premio de San Marino fue un hito que quedará grabado en nuestros corazones. Alonso, con
                    una
                    sonrisa que iluminaba el circuito, demostró que la grandeza no solo se mide en victorias, sino
                    en la
                    capacidad de inspirar a otros. Su emotiva celebración en Imola resonó en el alma de cada
                    aficionado,
                    llenándonos de orgullo y emoción. ¡Una temporada que nos enseñó que la grandeza no tiene límites
                    y
                    que cada uno de nosotros puede alcanzar las estrellas!</p>
            </section>

            <section id="1994">
                <h2>1994: Una Temporada de Tragedia y Cambio</h2>

                <p>La temporada de 1994 es un capítulo marcado por la tragedia, un recuerdo que nos hace reflexionar
                    sobre la fragilidad de la vida. La pérdida de Ayrton Senna, un ícono que iluminó el
                    automovilismo
                    con su pasión y talento, dejó un vacío en nuestros corazones que nunca se llenará. Su accidente
                    en
                    Imola fue un momento desgarrador, un instante en el que el mundo del automovilismo se detuvo y
                    las
                    lágrimas inundaron los rostros de millones de aficionados.</p>

                <p>Pero en medio de la tristeza, surgió un nuevo campeón: Michael Schumacher. Con su Benetton,
                    Schumacher se alzó como un nuevo rey en un reino marcado por la pérdida. Ganar su primer título
                    mundial en un año tan oscuro fue un acto de valentía y determinación. La temporada de 1994 nos
                    enseñó que la vida es frágil, pero que la pasión y la determinación pueden llevarnos a superar
                    cualquier obstáculo.</p>
            </section>

            <section class="1988">
                <h2>1988: El Dominio de McLaren</h2>

                <p>La temporada de 1988 es un recordatorio de la grandeza de la Fórmula 1, un año en el que la
                    velocidad
                    y la habilidad se unieron para crear un espectáculo que nos dejó sin aliento. McLaren, con
                    Ayrton
                    Senna y Alain Prost al volante, dominó el campeonato con una autoridad que no se había visto
                    antes.
                    Cada carrera era un duelo de titanes, un enfrentamiento de habilidades y estrategias que nos
                    mantenía al borde de nuestros asientos.</p>

                <p>La rivalidad entre Senna y Prost fue un tema central de la temporada, un enfrentamiento de dos
                    personalidades que se complementaban y se enfrentaban al mismo tiempo. La victoria de Senna en
                    el
                    Gran Premio de Japón fue un momento clave, un ejemplo de su habilidad y estrategia que nos hizo
                    sentir la emoción de la competencia. La temporada de 1988 fue un recordatorio de que la Fórmula
                    1 es
                    un deporte de alta competencia, donde la grandeza se mide en cada vuelta y cada curva.</p>
            </section>

            <section class="1976">
                <h2>1976: La Batalla por el Título</h2>

                <p>La temporada de 1976 es un capítulo de la historia de la Fórmula 1 que nos hace sentir la emoción
                    y
                    la pasión de este deporte. La lucha por el título entre James Hunt y Niki Lauda fue un
                    enfrentamiento de dos personalidades que se complementaban y se enfrentaban al mismo tiempo.
                    Lauda,
                    con su Ferrari, parecía invencible, pero Hunt, con su McLaren, no se rindió.</p>

                <p>El accidente de Lauda en Nürburgring fue un momento desgarrador que parecía haberle quitado el
                    título, pero su regreso a las pistas solo seis semanas después fue un ejemplo de su
                    determinación y
                    valentía. La última carrera en Japón fue decisiva, con Hunt ganando el título por un solo punto.
                    ¡Una temporada que nos hizo sentir la emoción y la pasión de la Fórmula 1, que nos hizo recordar
                    por
                    qué amamos este deporte con tanta pasión!</p>
            </section>
        </div>
    </div>
    <footer>
        <a href="https://www.linkedin.com/in/aalbeerto/" target="_blank">© AGA. Todos los derechos reservados.</a>
    </footer>
</div>