table {
  max-width: 40% !important;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #da0000;
  color: white;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.sticky-header {
  position: sticky;
  top: 0;
}

@media (max-width: 800px) {
}

@media (max-width: 600px) {
  th,
  td {
    font-size: 11px;
  }
  .mat-cell {
    display: block;
    width: 100%;
  }
  table {
    width: 100%;
  }
}

@media (max-width: 490px) {
    th,
  td {
    font-size: 9px;
  }
  .mat-cell {
    display: block;
    width: 100%;
  }
  table {
    width: 100%;
  }
}

@media (max-width: 400px){
  table{
    font-size: 7px;
    width: 100%;
  }
  .mat-column-fastestLapTime {
      display: none;
    }
}
