<!-- simulador.component.html -->
<div class="container">
  <div class="content">
    <header>
      <h1><a href="../home" class="titulo">F1nal Lap</a></h1>
      <img
        src="https://www.formula1.com/etc/designs/fom-website/images/f1_logo.svg"
        alt="Fórmula 1 Logo"
      />
    </header>

    <div id="progress-container">
      <nav>
        <a href="../home">Inicio</a>
        <a href="../actual">Temporada Actual</a>
        <a href="../last">Últimas Temporadas</a>
        <a href="../memorable">Temporadas Memorables</a>
        <a href="../circuits">Circuitos</a>
      </nav>

      <div id="progress-bar"></div>
    </div>

    <div class="contenedor-section">
      <div class="tarjetas-contenedor">
        <a href="../circuits" class="boton" id="volver">
          <img
            src="./../../../assets/images/flecha.png"
            alt="Volver"
            class="flecha-volver">
        </a>
        <div class="tarjeta-imagen">
          <img [src]="circuito.image" [alt]="circuito.name" />
        </div>
        <div class="tarjeta-contenido">
          <div *ngIf="circuito; else loading">
            <h2>{{ circuito.name_GP }}</h2>
            <p>
              Circuito: {{ circuito.name }}
            </p>
            <p>
              Vueltas: {{ circuito.laps }} | Longitud: {{ circuito.length }}
            </p>
            <p>
              Vuelta rápida: {{ circuito.lap_record }}
            </p>

            <button class="boton" (click)="calcularEstrategias()">
              Calcular estrategias
            </button>
            <section *ngIf="estrategias.length > 0" class="estrategias-resultados">
              <h3>Mejores estrategias:</h3>
              <ul>
                <li *ngFor="let est of estrategias">{{ est }}</li>
              </ul>
            </section>
          </div>
          <ng-template #loading>
            <p>Cargando circuito...</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <a href="https://www.linkedin.com/in/aalbeerto/" target="_blank"
      >© AGA. Todos los derechos reservados.</a
    >
  </footer>
</div>
