<!-- simulador.component.html -->
<div class="container">
  <div class="content">
    <header>
      <h1>F1nal Lap</h1>
      <img
        src="https://www.formula1.com/etc/designs/fom-website/images/f1_logo.svg"
        alt="Fórmula 1 Logo"
      />
    </header>

    <div id="progress-container">
      <nav>
        <a href="home">Inicio</a>
        <a href="actual">Temporada Actual</a>
        <a href="last">Últimas Temporadas</a>
        <a href="memorable">Temporadas Memorables</a>
        <a href="circuits">Circuitos</a>
      </nav>

      <div id="progress-bar"></div>
    </div>

    <div class="contenedor-section">
      <h1 style="color: white; text-align: center; margin-bottom: 0">
        Simulador de Carreras
      </h1>
      <h3 style="color: white; text-align: center; margin-top: 0">
        Próximamente disponible...
      </h3>
      <section id="vuelta">
        <a href="../circuits" class="boton" id="volver">Volver</a>
      </section>
      <section>
        <div *ngIf="circuito; else loading">
          <h2>{{ circuito.name_GP }}</h2>
          <img [src]="circuito.image" [alt]="circuito.name" />
          <p>Vueltas: {{ circuito.laps }}</p>
          <p>Longitud: {{ circuito.length }}</p>
          <p>Récord: {{ circuito.lap_record }}</p>
          <a [routerLink]="['/simulador', circuito.name_GP]" class="boton">En mantenimiento...</a>
        </div>
        <ng-template #loading>
          <p>Cargando circuito...</p>
        </ng-template>
      </section>
    </div>
  </div>

  <footer>
    <a href="https://www.linkedin.com/in/aalbeerto/" target="_blank"
      >© AGA. Todos los derechos reservados.</a
    >
  </footer>
</div>
