<div class="container">
  <div class="content">
    <header>
      <h1>F1nal Lap</h1>
      <img
        src="https://www.formula1.com/etc/designs/fom-website/images/f1_logo.svg"
        alt="Fórmula 1 Logo"
      />
    </header>

    <div id="progress-container">
      <nav>
        <a href="home">Inicio</a>
        <a href="actual">Temporada Actual</a>
        <a href="last">Últimas Temporadas</a>
        <a href="memorable">Temporadas Memorables</a>
        <a href="circuits">Circuitos</a>
      </nav>

      <div id="progress-bar"></div>
    </div>

    <div class="contenedor-section">
      <div class="tarjetas-contenedor">
        <div *ngFor="let circuito of circuits" class="tarjeta">
          <div class="tarjeta-imagen">
            <img [src]="circuito.image" [alt]="circuito.name" />
          </div>
          <div class="tarjeta-contenido">
            <h3>{{ circuito.name_GP }}</h3>
            <p>Circuito: {{ circuito.name }}</p>
            <p>
              Vueltas: {{ circuito.laps }} | Longitud: {{ circuito.length }}
            </p>
            <p>Récord: {{ circuito.lap_record }}</p>
            <a [routerLink]="['/simulador', circuito.id]" class="boton">Simular</a>

          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <a href="https://www.linkedin.com/in/aalbeerto/" target="_blank"
      >© AGA. Todos los derechos reservados.</a
    >
  </footer>
</div>


