<div class="container">
  <div class="content">
    <header>
      <h1><a href="home" class="titulo">F1nal Lap</a></h1>
      <img
        src="https://www.formula1.com/etc/designs/fom-website/images/f1_logo.svg"
        alt="Fórmula 1 Logo"
      />
    </header>

    <div id="progress-container">
      <nav appCloseOtherMenus>
        <a mat-button href="home">Inicio</a>

        <button
          mat-button
          [matMenuTriggerFor]="Informacion"
          #triggerTemp="matMenuTrigger"
        >
          Formula 1
        </button>
        <mat-menu #Informacion="matMenu">
          <a mat-menu-item href="actual">Temporada Actual</a>
          <a mat-menu-item href="last">Temporadas Anteriores</a>
          <a mat-menu-item href="memorable">Temporadas Memorables</a>
        </mat-menu>

        <button
          mat-button
          [matMenuTriggerFor]="Clasificacion"
          #triggerClas="matMenuTrigger"
        >
          Clasificación
        </button>
        <mat-menu #Clasificacion="matMenu">
          <button
            mat-menu-item
            [routerLink]="['/ranking']"
            [queryParams]="{ view: 'drivers' }"
          >
            Pilotos
          </button>
          <button
            mat-menu-item
            [routerLink]="['/ranking']"
            [queryParams]="{ view: 'teams' }"
          >
            Equipos
          </button>
          <button
            mat-menu-item
            [routerLink]="['/ranking']"
            [queryParams]="{ view: 'races' }"
          >
            Carreras
          </button>
        </mat-menu>

        <a mat-button href="comparar">Análisis</a>
        <a mat-button href="circuits">Simulador</a>
      </nav>

      <div id="progress-bar"></div>
    </div>

    <div class="contenedor-section">
      <section>
        <h2>Circuitos</h2>
        <button
          class="boton"
          id="volver"
          *ngIf="selectedCircuit"
          (click)="clearSelection()"
        >
          <img
            src="./../../../assets/images/flecha.png"
            alt="Volver"
            class="flecha-volver"
          />
        </button>
        <div class="buttons">
          <mat-form-field appearance="fill">
            <mat-label>Filtrar circuito</mat-label>
            <input
              type="text"
              placeholder="Ej: Japan"
              matInput
              [formControl]="circuitControl"
              [matAutocomplete]="auto"
            />
            <button
              mat-icon-button
              matSuffix
              class="limpiar"
              aria-label="limpiar"
              *ngIf="circuitControl.value"
              (click)="clearSelection()"
            >
              <mat-icon>close</mat-icon>
            </button>
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="onCircuitSelected($event.option.value)"
              [displayWith]="displayCircuitName"
            >
              <mat-option
                *ngFor="let circuito of filteredCircuits"
                [value]="circuito"
              >
                {{ circuito.name_GP }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div
          *ngIf="selectedCircuit; else listaCircuitos"
          class="tarjetas-contenedor seleccionado"
        >
          <div class="tarjeta">
            <div class="tarjeta-imagen">
              <img [src]="selectedCircuit.image" [alt]="selectedCircuit.name" />
            </div>
            <div class="tarjeta-contenido">
              <h3>{{ selectedCircuit.name_GP }}</h3>
              <div class="tarjeta-detalles">
                <p>
                  Vueltas: {{ selectedCircuit.laps }} | Longitud:
                  {{ selectedCircuit.length }}
                </p>
                <p>Vuelta rápida: {{ selectedCircuit.lap_record }}</p>
              </div>
              <a
                class="boton"
                (click)="showBestStrategies(selectedCircuit)"
                style="cursor: pointer"
                >Estrategias</a
              >
              <a
                class="boton"
                (click)="onSimulador(selectedCircuit)"
                style="cursor: pointer"
                >Simulador</a
              >

              <!-- Estrategias -->
              <div
                *ngIf="bestStrategiesVisible && bestStrategies.length > 0"
                class="estrategias"
              >
                <h4 style="grid-column: 1 / -1">Mejores estrategias:</h4>
                <div *ngFor="let estrategia of bestStrategies">
                  <strong>
                    Estrategia {{ estrategia.estrategia }} ({{
                      estrategia.paradas
                    }}
                    paradas):
                  </strong>
                  <br />
                  <br />
                  <span>
                    Salir con:
                    {{ estrategia.stints[0].compuesto | titlecase }}
                  </span>
                  <br />

                  <ng-container
                    *ngFor="
                      let stop of getPitStops(estrategia.stints);
                      let i = index
                    "
                  >
                    <span>
                      Parada {{ i + 1 }}: {{ stop.compuesto | titlecase }} en la
                      vuelta {{ stop.vuelta }}
                    </span>
                    <br />
                  </ng-container>
                  <br />
                  <span>
                    Tiempo total: {{ estrategia.tiempo_formateado }}
                    <br /><br />
                  </span>
                </div>
              </div>

              <!-- Simulador dentro de la tarjeta -->
              <div *ngIf="simuladorActivo" class="simulador-form">
                <br />
                <br />
                <h4>Simulador de Estrategia Personalizada</h4>
                <div>
                  <button (click)="agregarStint()">Añadir Stint</button>
                </div>
                <br />
                <div
                  style="margin-bottom: 10px"
                  *ngIf="simuladorStints.length > 0"
                >
                  <strong
                    >{{ vueltasLibres }} vueltas libres por asignar</strong
                  >
                </div>
                <div *ngFor="let stint of simuladorStints; let i = index">
                  <label>
                    <mat-form-field appearance="fill">
                      <input
                        type="text"
                        placeholder="Compuesto"
                        matInput
                        [matAutocomplete]="autoCompuesto"
                        [(ngModel)]="stint.compuesto"
                        [ngModelOptions]="{ standalone: true }"
                      />
                      <button
                        mat-icon-button
                        matSuffix
                        class="limpiar"
                        aria-label="limpiar"
                        *ngIf="stint.compuesto"
                        (click)="stint.compuesto = ''"
                      >
                        <mat-icon>close</mat-icon>
                      </button>
                      <mat-autocomplete #autoCompuesto="matAutocomplete">
                        <mat-option *ngFor="let c of compuestos" [value]="c">
                          {{ c | titlecase }}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </label>
                  <label>
                    <mat-form-field class="vueltas" appearance="fill">
                      <input
                        type="number"
                        matInput
                        placeholder="Vueltas"
                        [(ngModel)]="stint.vueltas"
                        min="1"
                        [ngModelOptions]="{ standalone: true }"
                      />
                    </mat-form-field>
                  </label>
                  <button (click)="eliminarStint(i)">Eliminar</button>
                </div>
                <button
                  (click)="simularEstrategiaLibre()"
                  *ngIf="simuladorStints.length > 0"
                >
                  Simular
                </button>

                <div *ngIf="simuladorResultado">
                  <h4>Estrategia Personalizada:</h4>
                  <span>
                    Salir con:
                    {{ simuladorResultado.stints[0].compuesto | titlecase }}
                  </span>
                  <br />
                  <ng-container
                    *ngFor="
                      let stop of getPitStops(simuladorResultado.stints);
                      let i = index
                    "
                  >
                    <span>
                      Parada {{ i + 1 }}: {{ stop.compuesto | titlecase }} en la
                      vuelta {{ stop.vuelta }}
                    </span>
                    <br />
                  </ng-container>
                  <br />
                  <span>
                    Tiempo total: {{ simuladorResultado.tiempo_formateado }}
                  </span>
                  <br />
                  <br />
                  <span *ngIf="bestStrategies.length > 0">
                    Tiempo óptimo: {{ bestStrategies[0]?.tiempo_formateado }}
                  </span>
                </div>
              </div>
              <!-- Fin simulador -->
            </div>
          </div>
        </div>

        <ng-template #listaCircuitos>
          <div
            class="tarjetas-contenedor"
            [ngClass]="{ seleccionado: filteredCircuits.length === 1 }"
          >
            <div
              class="tarjeta"
              *ngFor="let circuito of filteredCircuits"
              (click)="onCircuitSelected(circuito)"
            >
              <div class="tarjeta-imagen">
                <img [src]="circuito.image" [alt]="circuito.name" />
              </div>
              <div class="tarjeta-contenido">
                <h3>{{ circuito.name_GP }}</h3>
                <div class="tarjeta-detalles">
                  <p>
                    Vueltas: {{ circuito.laps }} | Longitud:
                    {{ circuito.length }}
                  </p>
                  <p>Vuelta rápida: {{ circuito.lap_record }}</p>
                </div>
                <a
                  class="boton"
                  (click)="
                    onCircuitSelected(circuito); showBestStrategies(circuito)
                  "
                  style="cursor: pointer"
                  >Estrategias</a
                >
                <a
                  class="boton"
                  (click)="onSimulador(circuito)"
                  style="cursor: pointer"
                  >Simulador</a
                >
              </div>
            </div>
          </div>
        </ng-template>
      </section>
    </div>
  </div>

  <footer>
    <a href="https://www.linkedin.com/in/aalbeerto/" target="_blank"
      >© AGA. Todos los derechos reservados.</a
    >
  </footer>
</div>
