<div class="container">
  <div class="content">
    <header>
      <h1><a href="home" class="titulo">F1nal Lap</a></h1>
      <img
        src="https://www.formula1.com/etc/designs/fom-website/images/f1_logo.svg"
        alt="Fórmula 1 Logo"
      />
    </header>

    <div id="progress-container">
      <nav appCloseOtherMenus >
        <a mat-button href="home">Inicio</a>
        
        <button mat-button [matMenuTriggerFor]="Informacion" #triggerTemp="matMenuTrigger">
          Formula 1
        </button>
        <mat-menu #Informacion="matMenu">
          <a mat-menu-item href="actual">Temporada Actual</a>
          <a mat-menu-item href="last">Temporadas Anteriores</a>
          <a mat-menu-item href="memorable">Temporadas Memorables</a>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="Clasificacion" #triggerClas="matMenuTrigger">
          Clasificación
        </button>
        <mat-menu #Clasificacion="matMenu">
          <button mat-menu-item [routerLink]="['/ranking']" [queryParams]="{ view: 'drivers' }">
            Pilotos
          </button>
          <button mat-menu-item [routerLink]="['/ranking']" [queryParams]="{ view: 'teams' }">
            Equipos
          </button>
          <button mat-menu-item [routerLink]="['/ranking']" [queryParams]="{ view: 'races' }">
            Carreras
          </button>
        </mat-menu>

        <a mat-button href="circuits">Simulador</a>
      </nav>

      <div id="progress-bar"></div>
    </div>

    <div class="contenedor-section">
      <div class="tarjetas-contenedor">
        <div *ngFor="let circuito of circuits" class="tarjeta">
          <div class="tarjeta-imagen">
            <img [src]="circuito.image" [alt]="circuito.name" />
          </div>
          <div class="tarjeta-contenido">
            <h3>{{ circuito.name_GP }}</h3>
            
            <a [routerLink]="['/simulador', circuito.name_GP]" class="boton">Mostrar más</a>

          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <a href="https://www.linkedin.com/in/aalbeerto/" target="_blank"
      >© AGA. Todos los derechos reservados.</a
    >
  </footer>
</div>


