<div class="container">
    <div class="content">
      <header>
        <h1><a href="home" class="titulo">F1nal Lap</a></h1>
        <img src="https://www.formula1.com/etc/designs/fom-website/images/f1_logo.svg" alt="Fórmula 1 Logo">
      </header>


      <div id="progress-container">
        <nav>
          <a href="home">Inicio</a>
          <a href="actual">Temporada Actual</a>
          <a href="last">Últimas Temporadas</a>
          <a href="memorable">Temporadas Memorables</a>
          <a href="circuits">Circuitos</a>
      </nav>

        <div id="progress-bar"></div>
      </div>

      <div class="contenedor-section">
        <section class="temp_act">
          <h2>Temporada Actual</h2>
          <p>
            La temporada 2025 de Fórmula 1 promete ser una de las más emocionantes y competitivas de los últimos años.
            Con nuevos reglamentos técnicos y cambios significativos en las alineaciones de los equipos, los aficionados
            pueden esperar una serie de carreras llenas de acción y sorpresas.
          </p>

          <br>

          <h3>Innovaciones Técnicas</h3>
          <p>Con la introducción de nuevas regulaciones, los equipos han trabajado arduamente durante el invierno para
            desarrollar coches más rápidos y eficientes. Las mejoras aerodinámicas, los avances en la tecnología de los
            motores híbridos y las estrategias de gestión de neumáticos serán cruciales para el éxito en la pista.
            Algunas
            de las innovaciones más destacadas incluyen:</p>
          <ul>
            <li><strong>Aerodinámica:</strong> Nuevos diseños de alerones y difusores para mejorar el flujo de aire y
              reducir la resistencia.</li>
            <li><strong>Motores Híbridos:</strong> Avances en la eficiencia de los motores híbridos, con un enfoque en
              la
              recuperación de energía y la reducción de emisiones.</li>
            <li><strong>Neumáticos:</strong> Nuevos compuestos de neumáticos desarrollados por Pirelli para ofrecer un
              mejor
              rendimiento y durabilidad en diferentes condiciones de pista.</li>
            <li><strong>Materiales:</strong> Uso de materiales más ligeros y resistentes para mejorar la seguridad y el
              rendimiento de los coches.</li>
            <li><strong>Telemetría:</strong> Sistemas avanzados de telemetría para un análisis más preciso del
              rendimiento
              del coche y la estrategia de carrera.</li>
          </ul>

          <br><br>

          <h3>Cobertura y Análisis</h3>
          <p>Además de la información básica, esta sección también ofrecerá análisis detallados de cada carrera,
            incluyendo
            resúmenes, estadísticas y comentarios de expertos. Mantente al día con las últimas noticias y desarrollos a
            medida que la temporada avanza. Aquí tienes algunos recursos útiles:</p>
          <ul>
            <li><strong>Resúmenes de Carreras:</strong> Análisis detallados de cada Gran Premio, incluyendo los momentos
              más
              destacados y las estrategias de los equipos.</li>
            <li><strong>Estadísticas:</strong> Datos y estadísticas actualizadas sobre el rendimiento de los pilotos y
              equipos.</li>
            <li><strong>Comentarios de Expertos:</strong> Opiniones y análisis de expertos en Fórmula 1 sobre las
              carreras
              y
              el desarrollo de la temporada.</li>
            <li><strong>Entrevistas:</strong> Entrevistas exclusivas con pilotos, ingenieros y otros miembros clave de
              los
              equipos.</li>
          </ul>

          <br><br>

          <h3>Neumáticos</h3>
          <div class="tyres">
            <img src="https://puromotor.com/wp-content/uploads/2019/12/1575989522_406488_1575989641_noticia_normal.jpg"
              id="tyres">
          </div>
          <p>
            <b>Neumáticos lisos (slicks):</b>
            Hay cinco compuestos de asfalto seco. Cada uno tiene un código que va de C1 a C5.
            <ul>El C1 es el más duro y se degrada menos rápidamente, pero ralentiza el rendimiento del coche, ya que tarda
            más en calentarse.
            El C5, el más blando, se calienta con especial rapidez y proporciona un agarre perfecto en la pista,
            permitiendo que el coche vaya más rápido.
            <br>
            De estos cinco compuestos, Pirelli elige solo tres para cada fin de
            semana de Gran Premio. Esta elección se basa en una serie de factores (como la forma de la pista, la
            temperatura de la pista, la carga aerodinámica necesaria, etc.).
            </ul>
          
          <p>
            <b>Neumáticos de lluvia:</b>
            Hay dos tipos de neumáticos de lluvia, ambos con ranuras para evacuar el agua de la pista: los intermedios,
            que se utilizan en condiciones meteorológicas cambiantes o cuando la pista se está secando, y los "full
            wet",
            que se utilizan cuando el tiempo es especialmente malo. Estos últimos están diseñados para evacuar la mayor
            cantidad de agua posible para evitar el aquaplaning.
          </p>

          <p>En general, la diferencia de tiempo por vuelta entre los compuestos suele ser:</p>
          <ul>
            <li><b>Entre blando y medio:</b> aproximadamente 0.6-0.8 segundos por vuelta</li>
            <li><b>Entre medio y duro:</b> aproximadamente 0.4-0.6 segundos por vuelta</li>
            <li><b>Entre blando y duro:</b> aproximadamente 1.0-1.4 segundos por vuelta</li>
          </ul>

          <br>

          <p>La vida útil típica de cada compuesto:</p>
          <ul>
            <li><b>Blandos:</b> 15-20 vueltas</li>
            <li><b>Medios:</b> 25-35 vueltas</li>
            <li><b>Duros:</b> 35-45 vueltas</li>
          </ul>

          <p>Si un neumático se acerca al final de su vida útil y comienza a mostrar una degradación significativa, es
            un
            buen momento para considerar un cambio.</p>

          <p>Las condiciones climáticas y la temperatura de la pista también influyen en la degradación de los
            neumáticos.
            En condiciones más cálidas, los neumáticos tienden a degradarse más rápido.</p>

          <p>Degradación aceptable:</p>
          <ul>
            Generalmente, si un neumático pierde más de 1 segundo por vuelta en comparación con un neumático nuevo, se
            considera que es el momento adecuado para cambiar.
            Esto puede variar según las condiciones de la pista y el estilo de conducción.
          </ul>


        </section>
      </div>
      <br><br><br>
    </div>
    <footer>
      <a href="https://www.linkedin.com/in/aalbeerto/" target="_blank">© AGA. Todos los derechos reservados.</a>
    </footer>
  </div>