.btn-primary {
    text-decoration: none;
    color: black;
}

.btn-primary :hover{
    text-decoration: underline;
    color: #da0000;
}

#contacto a{
    text-decoration: none;
    color: black;
}

#contacto a :hover{
    text-decoration: underline;
    color: #da0000;
}

