<div class="container">
  <div class="content">
    <header>
      <h1><a href="home" class="titulo">F1nal Lap</a></h1>
      <img
        src="https://www.formula1.com/etc/designs/fom-website/images/f1_logo.svg"
        alt="Fórmula 1 Logo"
      />
    </header>

    <div id="progress-container">
      <nav>
        <a mat-button href="home">Inicio</a>
        
        <button mat-button [matMenuTriggerFor]="Informacion" #triggerTemp="matMenuTrigger">
          Formula 1
        </button>
        <mat-menu #Informacion="matMenu">
          <a mat-menu-item href="actual">Temporada Actual</a>
          <a mat-menu-item href="last">Últimas Temporadas</a>
          <a mat-menu-item href="memorable">Temporadas Memorables</a>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="Clasificacion" #triggerClas="matMenuTrigger">
          Clasificación
        </button>
        <mat-menu #Clasificacion="matMenu">
          <a mat-menu-item href="pilotos">Pilotos</a>
          <a mat-menu-item href="equipos">Equipos</a>
        </mat-menu>

        <a mat-button href="circuits">Simulador</a>
      </nav>

      <div id="progress-bar"></div>
    </div>

    <div class="contenedor-section">
      <section id="temporada-2023">
        <h2>Temporada 2023</h2>
        <div class="championships">
          <div class="championship">
            <h3>Campeonato de Pilotos</h3>
            <table>
              <thead>
                <tr>
                  <th>Posición</th>
                  <th>Piloto</th>
                  <th>Equipo</th>
                  <th>Puntos</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Max Verstappen</td>
                  <td>RBR</td>
                  <td>575</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Sergio Pérez</td>
                  <td>RBR</td>
                  <td>285</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Lewis Hamilton</td>
                  <td>MER</td>
                  <td>234</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Fernando Alonso</td>
                  <td>AMR</td>
                  <td>206</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Charles Leclerc</td>
                  <td>FER</td>
                  <td>206</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>Lando Norris</td>
                  <td>MCL</td>
                  <td>205</td>
                </tr>
                <tr>
                  <td>7</td>
                  <td>Carlos Sainz</td>
                  <td>FER</td>
                  <td>200</td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>George Russell</td>
                  <td>MER</td>
                  <td>175</td>
                </tr>
                <tr>
                  <td>9</td>
                  <td>Oscar Piastri</td>
                  <td>MCL</td>
                  <td>97</td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>Lance Stroll</td>
                  <td>AMR</td>
                  <td>74</td>
                </tr>
                <tr>
                  <td>11</td>
                  <td>Pierre Gasly</td>
                  <td>ALP</td>
                  <td>62</td>
                </tr>
                <tr>
                  <td>12</td>
                  <td>Esteban Ocon</td>
                  <td>ALP</td>
                  <td>58</td>
                </tr>
                <tr>
                  <td>13</td>
                  <td>Alexander Albon</td>
                  <td>WIL</td>
                  <td>27</td>
                </tr>
                <tr>
                  <td>14</td>
                  <td>Yuki Tsunoda</td>
                  <td>AT</td>
                  <td>17</td>
                </tr>
                <tr>
                  <td>15</td>
                  <td>Valtteri Bottas</td>
                  <td>AR</td>
                  <td>10</td>
                </tr>
                <tr>
                  <td>16</td>
                  <td>Nico Hulkenberg</td>
                  <td>HAA</td>
                  <td>9</td>
                </tr>
                <tr>
                  <td>17</td>
                  <td>Daniel Ricciardo</td>
                  <td>AT</td>
                  <td>6</td>
                </tr>
                <tr>
                  <td>18</td>
                  <td>Zhou Guanyu</td>
                  <td>AR</td>
                  <td>6</td>
                </tr>
                <tr>
                  <td>19</td>
                  <td>Kevin Magnussen</td>
                  <td>HAA</td>
                  <td>3</td>
                </tr>
                <tr>
                  <td>20</td>
                  <td>Liam Lawson</td>
                  <td>AT</td>
                  <td>2</td>
                </tr>
                <tr>
                  <td>21</td>
                  <td>Logan Sargeant</td>
                  <td>WIL</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>22</td>
                  <td>Nyck De Vries</td>
                  <td>AT</td>
                  <td>0</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="championship">
            <h3>Campeonato de Constructores</h3>
            <table>
              <thead>
                <tr>
                  <th>Posición</th>
                  <th>Equipo</th>
                  <th>Puntos</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Red Bull Racing</td>
                  <td>860</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Mercedes</td>
                  <td>409</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Ferrari</td>
                  <td>406</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>McLaren</td>
                  <td>302</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Aston Martin</td>
                  <td>280</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>Alpine</td>
                  <td>120</td>
                </tr>
                <tr>
                  <td>7</td>
                  <td>Williams</td>
                  <td>28</td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>AlphaTauri</td>
                  <td>25</td>
                </tr>
                <tr>
                  <td>9</td>
                  <td>Alfa Romeo</td>
                  <td>16</td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>Haas</td>
                  <td>12</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <h3>Carreras y Acciones Polémicas</h3>
        <ul>
          <li>
            <strong>Gran Premio de Arabia Saudí:</strong> Sergio Pérez ganó la
            carrera, pero hubo controversia por las órdenes de equipo en Red
            Bull.
          </li>
          <li>
            <strong>Gran Premio de Singapur:</strong> Carlos Sainz ganó, pero
            hubo varias sanciones por límites de pista y incidentes en la
            primera vuelta.
          </li>
          <li>
            <strong>Gran Premio de Brasil:</strong> Max Verstappen y Lewis
            Hamilton tuvieron un incidente en la primera vuelta, lo que llevó a
            una investigación por parte de los comisarios.
          </li>
        </ul>
        <h3>Estadísticas Clave</h3>
        <ul>
          <li>
            Victorias: Max Verstappen (15), Sergio Pérez (2), Lewis Hamilton (1)
          </li>
          <li>
            Poles: Max Verstappen (10), Charles Leclerc (5), Lewis Hamilton (3)
          </li>
          <li>
            Vueltas Rápidas: Max Verstappen (8), Sergio Pérez (3), George
            Russell (2)
          </li>
        </ul>
        <h3>Innovaciones Técnicas</h3>
        <p>
          La temporada 2023 vio la introducción de varias innovaciones técnicas,
          incluyendo mejoras aerodinámicas y avances en la tecnología de motores
          híbridos. Estas innovaciones jugaron un papel crucial en el
          rendimiento de los coches y en la estrategia de carrera de los
          equipos.
        </p>
      </section>

      <section id="temporada-2022">
        <h2>Temporada 2022</h2>
        <p>
          La temporada 2022 fue emocionante y llena de sorpresas, con Max
          Verstappen dominando el campeonato de pilotos y Red Bull Racing
          asegurando el campeonato de constructores. La temporada estuvo marcada
          por varias carreras polémicas y emocionantes.
        </p>
        <div class="championships">
          <div class="championship">
            <h3>Campeonato de Pilotos</h3>
            <table>
              <thead>
                <tr>
                  <th>Posición</th>
                  <th>Piloto</th>
                  <th>Equipo</th>
                  <th>Puntos</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Max Verstappen</td>
                  <td>RBR</td>
                  <td>454</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Charles Leclerc</td>
                  <td>FER</td>
                  <td>308</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Sergio Pérez</td>
                  <td>RBR</td>
                  <td>305</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>George Russell</td>
                  <td>MER</td>
                  <td>275</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Carlos Sainz</td>
                  <td>FER</td>
                  <td>246</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>Lewis Hamilton</td>
                  <td>MER</td>
                  <td>240</td>
                </tr>
                <tr>
                  <td>7</td>
                  <td>Lando Norris</td>
                  <td>MCL</td>
                  <td>122</td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>Esteban Ocon</td>
                  <td>ALP</td>
                  <td>92</td>
                </tr>
                <tr>
                  <td>9</td>
                  <td>Fernando Alonso</td>
                  <td>ALP</td>
                  <td>81</td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>Valtteri Bottas</td>
                  <td>AR</td>
                  <td>49</td>
                </tr>
                <tr>
                  <td>11</td>
                  <td>Daniel Ricciardo</td>
                  <td>MCL</td>
                  <td>37</td>
                </tr>
                <tr>
                  <td>12</td>
                  <td>Sebastian Vettel</td>
                  <td>AMR</td>
                  <td>37</td>
                </tr>
                <tr>
                  <td>13</td>
                  <td>Kevin Magnussen</td>
                  <td>HAA</td>
                  <td>25</td>
                </tr>
                <tr>
                  <td>14</td>
                  <td>Pierre Gasly</td>
                  <td>AT</td>
                  <td>23</td>
                </tr>
                <tr>
                  <td>15</td>
                  <td>Lance Stroll</td>
                  <td>AMR</td>
                  <td>18</td>
                </tr>
                <tr>
                  <td>16</td>
                  <td>Mick Schumacher</td>
                  <td>HAA</td>
                  <td>12</td>
                </tr>
                <tr>
                  <td>17</td>
                  <td>Yuki Tsunoda</td>
                  <td>AT</td>
                  <td>12</td>
                </tr>
                <tr>
                  <td>18</td>
                  <td>Zhou Guanyu</td>
                  <td>AR</td>
                  <td>6</td>
                </tr>
                <tr>
                  <td>19</td>
                  <td>Alexander Albon</td>
                  <td>WIL</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td>20</td>
                  <td>Nicholas Latifi</td>
                  <td>WIL</td>
                  <td>2</td>
                </tr>
                <tr>
                  <td>21</td>
                  <td>Nyck de Vries</td>
                  <td>WIL</td>
                  <td>2</td>
                </tr>
                <tr>
                  <td>22</td>
                  <td>Nico Hulkenberg</td>
                  <td>AMR</td>
                  <td>0</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="championship">
            <h3>Campeonato de Constructores</h3>
            <table>
              <thead>
                <tr>
                  <th>Posición</th>
                  <th>Equipo</th>
                  <th>Puntos</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Red Bull Racing</td>
                  <td>759</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Ferrari</td>
                  <td>554</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Mercedes</td>
                  <td>515</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Alpine</td>
                  <td>173</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>McLaren</td>
                  <td>159</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>Alfa Romeo</td>
                  <td>55</td>
                </tr>
                <tr>
                  <td>7</td>
                  <td>Aston Martin</td>
                  <td>55</td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>Haas</td>
                  <td>37</td>
                </tr>
                <tr>
                  <td>9</td>
                  <td>AlphaTauri</td>
                  <td>35</td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>Williams</td>
                  <td>8</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <h3>Carreras y Acciones Polémicas</h3>
        <ul>
          <li>
            <strong>Gran Premio de Mónaco:</strong> La carrera fue polémica
            debido a la lluvia y las decisiones de la dirección de carrera sobre
            cuándo iniciar y reiniciar la carrera.
          </li>
          <li>
            <strong>Gran Premio de Gran Bretaña:</strong> Hubo un gran accidente
            en la primera vuelta que involucró a varios coches, lo que llevó a
            una bandera roja y una larga interrupción.
          </li>
          <li>
            <strong>Gran Premio de Japón:</strong> Max Verstappen aseguró su
            segundo título mundial en una carrera marcada por la lluvia y la
            controversia sobre el uso de grúas en la pista.
          </li>
        </ul>
        <h3>Estadísticas Clave</h3>
        <ul>
          <li>
            Victorias: Max Verstappen (15), Charles Leclerc (3), Sergio Pérez
            (2)
          </li>
          <li>
            Poles: Charles Leclerc (9), Max Verstappen (7), Sergio Pérez (2)
          </li>
          <li>
            Vueltas Rápidas: Max Verstappen (5), Charles Leclerc (3), Lewis
            Hamilton (2)
          </li>
        </ul>
        <h3>Innovaciones Técnicas</h3>
        <p>
          La temporada 2022 vio la introducción de varias innovaciones técnicas,
          incluyendo mejoras aerodinámicas y avances en la tecnología de motores
          híbridos. Estas innovaciones jugaron un papel crucial en el
          rendimiento de los coches y en la estrategia de carrera de los
          equipos.
        </p>
      </section>

      <section id="temporada-2021">
        <h2>Temporada 2021</h2>
        <p>
          La temporada 2021 fue una de las más emocionantes y polémicas en la
          historia reciente de la Fórmula 1. Max Verstappen y Lewis Hamilton
          llegaron empatados en puntos a la última carrera, lo que llevó a un
          final dramático en el Gran Premio de Abu Dabi.
        </p>
        <div class="championships">
          <div class="championship">
            <h3>Campeonato de Pilotos</h3>
            <table>
              <thead>
                <tr>
                  <th>Posición</th>
                  <th>Piloto</th>
                  <th>Equipo</th>
                  <th>Puntos</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Max Verstappen</td>
                  <td>RBR</td>
                  <td>395.5</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Lewis Hamilton</td>
                  <td>MER</td>
                  <td>387.5</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Valtteri Bottas</td>
                  <td>MER</td>
                  <td>226</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Sergio Pérez</td>
                  <td>RBR</td>
                  <td>190</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Carlos Sainz</td>
                  <td>FER</td>
                  <td>164.5</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>Lando Norris</td>
                  <td>MCL</td>
                  <td>160</td>
                </tr>
                <tr>
                  <td>7</td>
                  <td>Charles Leclerc</td>
                  <td>FER</td>
                  <td>159</td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>Daniel Ricciardo</td>
                  <td>MCL</td>
                  <td>115</td>
                </tr>
                <tr>
                  <td>9</td>
                  <td>Pierre Gasly</td>
                  <td>AT</td>
                  <td>110</td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>Fernando Alonso</td>
                  <td>ALP</td>
                  <td>81</td>
                </tr>
                <tr>
                  <td>11</td>
                  <td>Esteban Ocon</td>
                  <td>ALP</td>
                  <td>74</td>
                </tr>
                <tr>
                  <td>12</td>
                  <td>Sebastian Vettel</td>
                  <td>AMR</td>
                  <td>43</td>
                </tr>
                <tr>
                  <td>13</td>
                  <td>Lance Stroll</td>
                  <td>AMR</td>
                  <td>34</td>
                </tr>
                <tr>
                  <td>14</td>
                  <td>Yuki Tsunoda</td>
                  <td>AT</td>
                  <td>32</td>
                </tr>
                <tr>
                  <td>15</td>
                  <td>George Russell</td>
                  <td>WIL</td>
                  <td>16</td>
                </tr>
                <tr>
                  <td>16</td>
                  <td>Kimi Räikkönen</td>
                  <td>AR</td>
                  <td>10</td>
                </tr>
                <tr>
                  <td>17</td>
                  <td>Nicholas Latifi</td>
                  <td>WIL</td>
                  <td>7</td>
                </tr>
                <tr>
                  <td>18</td>
                  <td>Antonio Giovinazzi</td>
                  <td>AR</td>
                  <td>3</td>
                </tr>
                <tr>
                  <td>19</td>
                  <td>Mick Schumacher</td>
                  <td>HAA</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>20</td>
                  <td>Robert Kubica</td>
                  <td>AR</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>21</td>
                  <td>Nikita Mazepin</td>
                  <td>HAA</td>
                  <td>0</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="championship">
            <h3>Campeonato de Constructores</h3>
            <table>
              <thead>
                <tr>
                  <th>Posición</th>
                  <th>Equipo</th>
                  <th>Puntos</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Mercedes</td>
                  <td>613.5</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Red Bull Racing</td>
                  <td>585.5</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Ferrari</td>
                  <td>323.5</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>McLaren</td>
                  <td>275</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Alpine</td>
                  <td>155</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>AlphaTauri</td>
                  <td>142</td>
                </tr>
                <tr>
                  <td>7</td>
                  <td>Aston Martin</td>
                  <td>77</td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>Williams</td>
                  <td>23</td>
                </tr>
                <tr>
                  <td>9</td>
                  <td>Alfa Romeo</td>
                  <td>13</td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>Haas</td>
                  <td>0</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <h3>Carreras y Acciones Polémicas</h3>
        <ul>
          <li>
            <strong>Gran Premio de Gran Bretaña:</strong> El choque entre Lewis
            Hamilton y Max Verstappen en la primera vuelta fue uno de los
            incidentes más polémicos de la temporada.
          </li>
          <li>
            <strong>Gran Premio de Italia:</strong> Otro incidente entre
            Hamilton y Verstappen que resultó en ambos coches fuera de la
            carrera.
          </li>
          <li>
            <strong>Gran Premio de Abu Dabi:</strong> La carrera final de la
            temporada fue extremadamente polémica debido a las decisiones de la
            dirección de carrera durante el coche de seguridad, lo que permitió
            a Verstappen ganar el campeonato en la última vuelta. Esta carrera
            fue particularmente importante porque Max Verstappen y Lewis
            Hamilton llegaron empatados en puntos a la última carrera, algo que
            no había sucedido en décadas. La controversia surgió cuando, después
            de un accidente de Nicholas Latifi, se desplegó el coche de
            seguridad. La dirección de carrera tomó la decisión de permitir que
            solo algunos coches rezagados se desdoblaran, lo que dejó a
            Verstappen justo detrás de Hamilton en el reinicio. Verstappen, con
            neumáticos frescos, pudo adelantar a Hamilton en la última vuelta,
            asegurando así su primer campeonato mundial.
          </li>
        </ul>
        <h3>Estadísticas Clave</h3>
        <ul>
          <li>
            Victorias: Max Verstappen (10), Lewis Hamilton (8), Valtteri Bottas
            (1)
          </li>
          <li>
            Poles: Lewis Hamilton (7), Max Verstappen (10), Valtteri Bottas (4)
          </li>
          <li>
            Vueltas Rápidas: Lewis Hamilton (6), Max Verstappen (5), Valtteri
            Bottas (4)
          </li>
        </ul>
        <h3>Innovaciones Técnicas</h3>
        <p>
          La temporada 2021 vio la introducción de varias innovaciones técnicas,
          incluyendo mejoras aerodinámicas y avances en la tecnología de motores
          híbridos. Estas innovaciones jugaron un papel crucial en el
          rendimiento de los coches y en la estrategia de carrera de los
          equipos.
        </p>
      </section>
    </div>
  </div>

  <footer>
    <a href="https://www.linkedin.com/in/aalbeerto/" target="_blank"
      >© AGA. Todos los derechos reservados.</a
    >
  </footer>
</div>
